.commonTable {
    padding: 0;

    div[class="ant-table-body"] {
        overflow-y: auto !important;
    }

    .toolBar {
        border: 1px solid #ddd;
        border-bottom: none;
        button {
            display: inline-flex;
            align-items: center;
            height: 100%;
            padding: 0 7px 0 5px;
            background-color: inherit;
            border: none;
            outline: none;
        }
        button:hover {
            background: #e6e6e6;
            cursor: pointer;
        }
        button:disabled {
            background-color: inherit;
            cursor: not-allowed;
            opacity: 0.5;
        }
    }
}
