
.DS_Store
.mvn
*.iml
*.log
.idea
.vscode
target
dependency-reduced-pom.xml
.flattened-pom.xml
*.lock
lib
__unconfig_vite.config.ts
.uuid
docker/data/jarboot1/derby_data
docker/data/jarboot2/derby_data
logs
