
.DS_Store
.mvn
*.iml
*.log
.idea
.vscode
target
dependency-reduced-pom.xml
.flattened-pom.xml
*.lock
lib
__unconfig_vite.config.ts
.uuid
docker/data/jarboot1
docker/data/jarboot2
docker/workspace1
docker/workspace2
logs
components.d.ts