.portInput {
    width: 117px !important;
    display: inline-block !important;
}
.addrInput {
    width: calc(100% - 164px) !important;
    display: inline-block !important;
}
.formTail {
    margin: 0 calc(50% - 32px);
}
.outPanel {
    height: calc(100vh - 150px) !important;
    width: 100% !important;
    flex: none;
}
.smallTable {
    th,td{
        font-size: 10px!important;
    }
}
