.leftExtra {
    img {
        height: 38px;
    }
    margin: 0 60px 0 10px;
}
.githubIcon {
    font-size: 30px;
    margin: 0 8px 0 8px;
    color: black !important;
}
.rightExtra {
    margin: 0;
    padding: 0;
    button {
        vertical-align: super;
    }
    .userLogin {
        margin: 0 2px 0 6px;
        top: -6px;
        //background-color: #00a2ae;
    }
    .userName {
        margin: 0 5px 0 0;
        vertical-align: text-bottom;
    }
}
